<div *ngIf="loading" class="sample-container">
    <po-loading-overlay></po-loading-overlay>
</div>
<div *ngIf="!loading">
    <div class="po-row  ">
        <div class="po-row mb-4">
            <div class="po-md-12 po-lg-12">
                <po-container class="po-lg-4 " [p-height]="435">
                    <po-chart [ngClass]="{'positivo': delta >= 0, 'negativo': delta < 0}"
                        class="po-font-text-bold po-text-center" [p-title]="getDeltaTitle()" [p-series]="colunaItens">
                        <!-- [p-type]="tipoCol" -->
                    </po-chart>
                </po-container>
                <po-container class="po-lg-6" [p-height]="435">
                    <div class="po-font-text-bold "></div>
                    <po-chart [p-options]="chartOptions" [p-series]="pizzaItens">
                    </po-chart>
                </po-container>
                <po-container class="po-md-2 " [p-height]="435">
                    <po-widget>
                        <div class="po-font-title po-text-center">{{ativos}}</div>
                        <div class="po-text-center">Ativos</div>
                    </po-widget>
                    <po-widget>
                        <div class="po-font-title po-text-center">{{atestados}}</div>
                        <div class="po-text-center">Atestados</div>
                    </po-widget>
                    <po-widget>
                        <div class="po-font-title po-text-center">{{afastados}}</div>
                        <div class="po-text-center">Afastamentos</div>
                    </po-widget>
                    <po-widget>
                        <div class="po-font-title po-text-center">{{ferias}}</div>
                        <div class="po-text-center">Ferias</div>
                    </po-widget>
                </po-container>
            </div>
        </div>
        <hr />
        <po-accordion class="po-lg-12 po-mt-2">
            <po-accordion-item p-label=" Filtros">
                <div class="po-row">
                    {{this.funcao}}
                    {{this.departamento}}
                    {{this.custo}}
                    <po-datepicker class="po-md-2" name="dataIni" [(ngModel)]="dataIni" p-clean p-label="Data"
                        [p-format]="format">
                    </po-datepicker>

                    <po-multiselect class="po-md-2" name="custo" p-label="Centro de Custo" [p-options]="selectCusto"
                        [(ngModel)]="custo" [p-filter-mode]="filterMode" [p-hide-select-all]="true">
                    </po-multiselect>

                    <po-multiselect class="po-md-2 " name="departamento" p-label="Departamento"
                        [p-options]="selectDepartamentos" [(ngModel)]="departamento" [p-filter-mode]="filterMode"
                        [p-hide-select-all]="true">
                    </po-multiselect>

                    <po-multiselect class="po-md-2" name="funcao" p-label="Função" [p-options]="selectFuncoes"
                        [(ngModel)]="funcao" [p-filter-mode]="filterMode" [p-hide-select-all]="true"> </po-multiselect>
                    <po-button class="po-mt-4 po-ml-1 " p-label="Filtrar" (p-click)="filtrar()">
                    </po-button>
                </div>
            </po-accordion-item>
        </po-accordion>

        <ng-template #template>
            <i class="an an-arrow-fat-line-down"></i>
        </ng-template>
    </div>
    <div class="po-row">
        <div class="po-md-12 po-lg-12">
            <po-accordion class="po-lg-4 po-mt-2 po-mb-2">
                <po-accordion-item p-label="Lista Centro de Custo">
                    <po-container>
                        <po-table [p-height]="150" p-container="shadow" [p-hide-columns-manager]="true"
                            [p-items]="custos"></po-table>
                    </po-container>
                </po-accordion-item>
            </po-accordion>
            <po-accordion class="po-lg-4 po-mt-2">
                <po-accordion-item p-label="Lista de Departamentos">
                    <po-container>
                        <po-table [p-height]="150" p-container="shadow" [p-hide-columns-manager]="true"
                            [p-items]="departamentos"></po-table>
                    </po-container>
                </po-accordion-item>
            </po-accordion>
            <po-accordion class="po-lg-4 po-mt-2">
                <po-accordion-item p-label="Lista de Cargos">
                    <po-container>
                        <po-table [p-height]="150" p-container="shadow" [p-hide-columns-manager]="true"
                            [p-items]="funcoes"></po-table>
                    </po-container>
                </po-accordion-item>
            </po-accordion>
        </div>
    </div>
    <po-accordion class="po-md-12 po-lg-12">
        <po-accordion-item p-label="Lista de Funcionários" style="position: relative;">
            <div class="po-row">
                <po-container class="po-lg-12 po-mt-2">
                    <po-table [p-height]="250" p-container="shadow" [p-hide-columns-manager]="true"
                        [p-items]="funcionarios"></po-table>
                </po-container>
            </div>
        </po-accordion-item>
    </po-accordion>
</div>